[submodule "website/UnityMiniBrainClient/Assets/vbl-core"]
	path = website/UnityMiniBrainClient/Assets/vbl-core
	url = https://github.com/VirtualBrainLab/vbl-core
[submodule "UnityMiniBrainClient/Assets/vbl-core"]
	path = UnityMiniBrainClient/Assets/vbl-core
	url = https://github.com/VirtualBrainLab/vbl-core
