/*************************************************************************************************/
/*  Global                                                                                       */
/*************************************************************************************************/

html.wait,
html.wait * {
    cursor: wait !important;
}



/*************************************************************************************************/
/*  Header                                                                                       */
/*************************************************************************************************/

#titleLinks {
    position: relative;
    top: -20px;
}

#titleLinks a {
    padding: 0 10px;
}

h2 {
    font-size: 24pt;
    text-align: center;
    margin: 12px 0;
}


/*************************************************************************************************/
/*  Left panel                                                                                   */
/*************************************************************************************************/

/*.container {
    max-width: 2000px;
}*/


.flex-container {
  display: flex;
  width: 100%;
}

/*************************************************************************************************/
/*  Right panel                                                                                  */
/*************************************************************************************************/

img {
    width: auto; /* changed this from 100% but now scaling with page doesn't work */
    height: 100%;
    aspect-ratio: 3/2;
}



/*************************************************************************************************/
/*  Double slider                                                                                */
/*************************************************************************************************/

.noUi-target {
    margin: 0 20px 10px 10px;
}

.noUi-base,
.noUi-target {
    height: 10px !important;
}

.noUi-handle {
    width: 24px !important;
    height: 18px !important;
}

.noUi-tooltip {
    font-size: 14px;
    opacity: 0.75;
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}

.noUi-connect {
    background-color: #666
}

.noUi-handle::before,
.noUi-handle:after {
    height: 5px !important;
}

.noUi-handle:before {
    left: 10px !important;
}

.noUi-handle:after {
    left: 12px !important;
}
