/*************************************************************************************************/
/*  Fonts                                                                                        */
/*************************************************************************************************/

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?subset_id=2&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?subset_id=2&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?subset_id=2&fvd=i4&v=3) format("opentype");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?subset_id=2&fvd=i7&v=3) format("opentype");
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    font-display: auto;
}



/*************************************************************************************************/
/*  Global                                                                                       */
/*************************************************************************************************/

html.wait,
html.wait * {
    cursor: wait !important;
}



body {
    font-family: proxima-nova;
}



/*************************************************************************************************/
/*  Header                                                                                       */
/*************************************************************************************************/

#header,
#footer {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;

    font-family: roboto-condensed;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header a,
#footer a {
    text-decoration: none;
    color: #333;
}

#header a:hover,
#footer a:hover {
    color: #999;
}

#header img {
    max-height: 80px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

#header ul {
    display: inline-block;
    margin: 0 40px;
}

#header ul li {
    display: inline-block;
    margin: 0 20px;
}

#header .menu-explore {
    font-weight: 500;
    color: #0898d4;
}



/*************************************************************************************************/
/*  Body                                                                                         */
/*************************************************************************************************/

figure {
    margin-left: 0;
    margin-right: 0;
}


caption {
    text-align: center;
}


select.multiple {
    height: 100px !important;
}



form img {
    /* changed this from 100% but now scaling with page doesn't work */
    width: 100%;
    min-height: 100px;
    border: 0;
}



body img.loading {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 30px;
    min-width: 30px;
    min-height: 30px;
    visibility: hidden;
    border: 0;
    z-index: 100;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto-condensed;
    text-transform: uppercase;
    font-size: 24pt;
    margin: 30px 0;
    /* font-variant: small-caps; */
}

h2 {
    text-align: center;
    border-style: solid;
    border-width: 2px 0;
    border-color: #eee;
    font-weight: 300;
    padding: 20px 0;
    margin: 60px 0 40px 0;
    color: #999;
    background-color: #fcfcfc;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 14pt;
}



/*************************************************************************************************/
/*  Dataset tabs                                                                                 */
/*************************************************************************************************/

/* https://codepen.io/CesarVMB/pen/kPOrQb */

#dset-container {
    margin-bottom: 0;
}

#dset-container input {
    visibility: hidden;
    margin-bottom: 0;
}

#dset-container label {
    background-color: #fafafa;
    border-radius: 1em 1em 0 0;
    color: #aaa;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1em;
    height: 2.5em;
    line-height: 2.5em;
    margin-right: .25em;
    margin-bottom: 0;
    padding: 0 1.5em;
    text-align: center;
}

#dset-container input:hover+label {
    background-color: #ddd;
    color: #666;
}

#dset-container input:checked+label {
    background-color: #eee;
    color: #444;
    position: relative;
    z-index: 6;
}




/*************************************************************************************************/
/*  QC toggle switch                                                                             */
/*************************************************************************************************/

/* https://codepen.io/mburnette/pen/LxNxNg */

#qc-switch {
    position: fixed;
    top: 12px;
    right: 130px;
    z-index: 200;
}

#qc-switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

#qc-switch span {
    position: relative;
    left: -50px;
    top: 40px;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    font-family: roboto-condensed;
}

#qc-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 30px;
    background: #aaa;
    display: block;
    border-radius: 50px;
    position: relative;
    top: -22px;
}

#qc-switch label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

#qc-switch input:checked+label {
    background: #0898D4;
}

#qc-switch input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

#qc-switch label:active:after {
    width: 25px;
}





/*************************************************************************************************/
/*  Figure legends                                                                               */
/*************************************************************************************************/

body .row figure {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
}

body .row figure summary {
    /* cursor: pointer; */
    font-weight: normal;
    font-size: 1.05em;
    padding: 5px 5px 5px 0;
    height: 150px;

    list-style: none;
}

body .row figure details {
    font-size: .95em;
    margin: 10px 0 0 0;
    padding: 7px 15px 7px 20px;
    background-color: #f3f3f3;
}

body .row figure details summary::-webkit-details-marker {
    display: none;
}

body .row figure details summary::marker {
    display: none;
}

body .row figure details div {
    margin: 10px 0 5px 5px;
}

body .row figure details p {
    margin-bottom: 5px;
}

body .row figure details ul {
    list-style-position: outside;
    margin-left: 20px;
}

body .row figure details ul li {
    list-style-type: disc;
    margin: 10px 0
}



.legend {
    /* display: none; */
}

.imgWrapper {
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
}

.panel-letter {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-weight: bold;
    -webkit-text-stroke: 0.5px white;
    text-stroke: 2px white;
    /* font-size: 1.25em; */
    /* color: #0898D4; */
    /* background-color: #00000011; */
}



/*************************************************************************************************/
/*  Footer                                                                                       */
/*************************************************************************************************/

#footer {
    text-align: center;
    padding: 20px 0;
}



/*************************************************************************************************/
/*  Dropdowns                                                                                    */
/*************************************************************************************************/

.aa-Panel {
    height: 300px;
}

.aa-Panel .item-container {
    display: inline-block;
}

.aa-Panel .item {
    display: inline-block;
    margin-right: 10px;
    font-size: 10pt;
    white-space: nowrap;
}

.aa-Panel .item-lab {
    width: 100px;
}

.aa-Panel .item-subject {
    width: 100px;
}

.aa-Panel .item-date {
    width: 70px;
    font-size: 8pt;
    color: #555;
}

.aa-Panel .item-acronyms {
    width: 200px;
    font-size: 8pt;
    color: #555;
}

.aa-Panel .item-ID {
    font-size: 8pt;
    color: #aaa;
}



#sessionSelector input.aa-Input {
    border: 0;
    margin: auto 0;
}

#sessionSelector .aa-SubmitButton {
    margin-top: 8px;
}

#sessionSelector .aa-SubmitIcon {
    color: #0898d4;
}

#sessionSelector .aa-Form {}



#clusterSelector:not(:focus) option:checked {
    background: linear-gradient(#cecece, #cecece);
}



/*************************************************************************************************/
/*  Controls                                                                                     */
/*************************************************************************************************/

.button.button-primary {
    background-color: #0898d4;
    width: 100%;
    font-size: 14pt;
    font-weight: 600;
    height: auto;
    padding: 5px;
}

.button.button-secondary {
    background-color: #d2998e;
    color: white;
    width: 100%;
    font-size: 14pt;
    font-weight: 600;
    height: auto;
    padding: 5px;
}



.buttonNav {
    margin: 0 auto;
}

.buttonNav>div {
    margin: 0 auto;
    width: 90px;
}

.buttonNav button {
    border: 0;
    padding: 0 12px;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    margin: 0 auto;
}

.buttonNav button:hover {
    background-color: #eee;
}

.buttonNav button:active {
    background-color: #ddd;
}

.buttonNav .trialLeft {
    margin-right: 5px;
}



/*************************************************************************************************/
/*  Videos                                                                                       */
/*************************************************************************************************/

#video-1 {
    width: 100%;
    aspect-ratio: 1.777;
}

video {
    width: 100%;
}



/*************************************************************************************************/
/*  Unity widget                                                                                 */
/*************************************************************************************************/

#unity-canvas {
    width: 100%;
    background-image: url('/static/images/fallback.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}


#unity-canvas-trial {
    width: 100%;
    height: 405px;
    background-image: url('/static/images/trial_viewer.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* aspect-ratio: 1; */
}

#trialWrapper {
    position: relative;
    top: 0;
    left: 0;
}

#trialTime {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 288px;
    width: 2px;
    background-color: #119cd6;
}



/*************************************************************************************************/
/*  Share button                                                                                 */
/*************************************************************************************************/

#share {
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 10px;
    padding: 6px 10px;
    font-size: 1.2em;
    background-color: #0898D4;
    font-weight: bold;
    border-radius: 8px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    opacity: .75;
}

#share a {
    color: white;
    text-decoration: none;
}

#share:hover {
    background-color: #52a9cf;
}

#share:active {
    background-color: #7bafc5;
}



/*************************************************************************************************/
/*  Double slider                                                                                */
/*************************************************************************************************/

.noUi-target {
    margin: 0 20px 10px 10px;
}

.noUi-base,
.noUi-target {
    height: 10px !important;
}

.noUi-handle {
    width: 24px !important;
    height: 18px !important;
}

.noUi-tooltip {
    font-size: 14px;
    opacity: 0.75;
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}

.noUi-connect {
    background-color: #666
}

.noUi-handle::before,
.noUi-handle:after {
    height: 5px !important;
}

.noUi-handle:before {
    left: 10px !important;
}

.noUi-handle:after {
    left: 12px !important;
}
