/*************************************************************************************************/
/*  Fonts                                                                                        */
/*************************************************************************************************/

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?subset_id=2&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?subset_id=2&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?subset_id=2&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?subset_id=2&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?subset_id=2&fvd=i4&v=3) format("opentype");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?subset_id=2&fvd=i7&v=3) format("woff2"), url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?subset_id=2&fvd=i7&v=3) format("woff"), url(https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?subset_id=2&fvd=i7&v=3) format("opentype");
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    font-display: auto;
}



/*************************************************************************************************/
/*  Global                                                                                       */
/*************************************************************************************************/

html.wait,
html.wait * {
    cursor: wait !important;
}



body {
    font-family: proxima-nova;
}



/*************************************************************************************************/
/*  Header                                                                                       */
/*************************************************************************************************/

#header,
#footer {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: +100;

    font-family: roboto-condensed;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header a,
#footer a {
    text-decoration: none;
    color: #333;
}

#header a:hover,
#footer a:hover {
    color: #999;
}

#header img {
    max-height: 80px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

#header ul {
    display: inline-block;
    margin: 0 40px;
}

#header ul li {
    display: inline-block;
    margin: 0 20px;
}

#header .menu-explore {
    font-weight: 500;
    color: #0898d4;
}



/*************************************************************************************************/
/*  Body                                                                                         */
/*************************************************************************************************/

figure {
    margin-left: 0;
    margin-right: 0;
}


caption {
    text-align: center;
}


select.multiple {
    height: 100px !important;
}



form img {
    /* changed this from 100% but now scaling with page doesn't work */
    width: 100%;
    min-height: 100px;
    border: 0;
}



body img.loading {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 30px;
    min-width: 30px;
    min-height: 30px;
    visibility: hidden;
    border: 0;
    z-index: 10;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto-condensed;
    text-transform: uppercase;
    font-size: 24pt;
    margin: 30px 0;
    /* font-variant: small-caps; */
}

h2 {
    text-align: center;
    border-style: solid;
    border-width: 2px 0;
    border-color: #eee;
    font-weight: 300;
    padding: 20px 0;
    margin: 60px 0 40px 0;
    color: #999;
    background-color: #fcfcfc;
}



/*************************************************************************************************/
/*  Figure legends                                                                               */
/*************************************************************************************************/

body .row figure {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
}

body .row figure summary {
    cursor: pointer;
    font-weight: bold;
}

body .row figure details {
    margin: 10px 0 0 0;
    padding: 7px 10px;
    background-color: #f3f3f3;
}

body .row figure details div {
    margin: 10px 0 5px 5px;
}



/*************************************************************************************************/
/*  Footer                                                                                       */
/*************************************************************************************************/

#footer {
    text-align: center;
    padding: 20px 0;
}



/*************************************************************************************************/
/*  Dropdowns                                                                                    */
/*************************************************************************************************/

.aa-Panel {
    height: 300px;
}

.aa-Panel .item-container {
    display: inline-block;
}

.aa-Panel .item {
    display: inline-block;
    margin-right: 10px;
    font-size: 10pt;
    white-space: nowrap;
}

.aa-Panel .item-lab {
    width: 100px;
}

.aa-Panel .item-subject {
    width: 100px;
}

.aa-Panel .item-date {
    width: 70px;
    font-size: 8pt;
    color: #555;
}

.aa-Panel .item-acronyms {
    width: 200px;
    font-size: 8pt;
    color: #555;
}

.aa-Panel .item-ID {
    font-size: 8pt;
    color: #aaa;
}



#sessionSelector input.aa-Input {
    border: 0;
    margin: auto 0;
}

#sessionSelector .aa-SubmitButton {
    margin-top: 8px;
}

#sessionSelector .aa-SubmitIcon {
    color: #0898d4;
}

#sessionSelector .aa-Form {}



#clusterSelector:not(:focus) option:checked {
    background: linear-gradient(#cecece, #cecece);
}



/*************************************************************************************************/
/*  Controls                                                                                     */
/*************************************************************************************************/

.button.button-primary {
    background-color: #0898d4;
    width: 100%;
    font-size: 14pt;
    font-weight: 600;
    height: auto;
    padding: 5px;
}



.buttonNav {
    margin: 0 auto;
}

.buttonNav>div {
    margin: 0 auto;
    width: 90px;
}

.buttonNav button {
    border: 0;
    padding: 0 12px;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    margin: 0 auto;
}

.buttonNav button:hover {
    background-color: #eee;
}

.buttonNav button:active {
    background-color: #ddd;
}

.buttonNav .trialLeft {
    margin-right: 5px;
}



/*************************************************************************************************/
/*  Videos                                                                                       */
/*************************************************************************************************/

#video-1 {
    width: 100%;
    aspect-ratio: 1.777;
}

video {
    width: 100%;
}



/*************************************************************************************************/
/*  Unity widget                                                                                 */
/*************************************************************************************************/

#unity-canvas {
    width: 100%;
    background-image: url('/static/images/fallback.png');
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}


#unity-canvas-trial {
    width: 100%;
    height: 405px;
    background-image: url('/static/images/trial_viewer.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* aspect-ratio: 1; */
}

#trialWrapper {
    position: relative;
    top: 0;
    left: 0;
}

#trialTime {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 288px;
    width: 2px;
    background-color: #119cd6;
}



/*************************************************************************************************/
/*  Share button                                                                                 */
/*************************************************************************************************/

#share {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 6px 10px;
    font-size: 1.2em;
    background-color: #0898D4;
    font-weight: bold;
    border-radius: 8px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    opacity: .75;
}

#share a {
    color: white;
    text-decoration: none;
}

#share:hover {
    background-color: #52a9cf;
}

#share:active {
    background-color: #7bafc5;
}



/*************************************************************************************************/
/*  Double slider                                                                                */
/*************************************************************************************************/

.noUi-target {
    margin: 0 20px 10px 10px;
}

.noUi-base,
.noUi-target {
    height: 10px !important;
}

.noUi-handle {
    width: 24px !important;
    height: 18px !important;
}

.noUi-tooltip {
    font-size: 14px;
    opacity: 0.75;
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}

.noUi-connect {
    background-color: #666
}

.noUi-handle::before,
.noUi-handle:after {
    height: 5px !important;
}

.noUi-handle:before {
    left: 10px !important;
}

.noUi-handle:after {
    left: 12px !important;
}
