{% extends 'template.html' %}


{% block header %}

<script src=" https://cdn.jsdelivr.net/npm/lz-string@1.5.0/libs/lz-string.min.js"></script>

<!-- Script with all Allen regions -->
<script src="{{ url_for('static', filename='regions.js') }}"></script>

<!-- Generated script with all data -->
<script src="{{ url_for('static', filename='data.js') }}"></script>

<!-- Custom Array class -->
<script src="{{ url_for('static', filename='array.js') }}"></script>

<!-- Custom JS code -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<!-- Unity loader -->
<script src="static/Build/IBLMini-webgl.loader.js"></script>

<!-- autoComplete -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.01.min.css">
 -->
<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
<script>
    const { autocomplete } = window['@algolia/autocomplete-js'];
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" />

{% endblock %}



{% block share %}
<div id="share"><a>share</a></div>
{% endblock %}



{% block content %}

<!------------------------------------------------------------------------------------------------>
<!--                                       SESSION SELECTOR                                     -->
<!------------------------------------------------------------------------------------------------>

<!-- SESSION SELECTOR HEADER -->
<div class="row">
    <div class="twelve columns">
        <h2>Session selector</h2>
    </div>
</div>

<!-- SESSION SELECTION TEXT -->
<div class="row">
    <div class="twelve columns">
        <p>Select a session by searching by lab, subject, or brain region in the dropdown menu or by selecting from the
            available insertions in the 3D brain.
        </p>
        <p><strong>Examples:</strong>
            <code>cortexlab</code> (lab),
            <code>CSHL052</code> (subject),
            <code>CA1</code> (brain region)
        </p>
    </div>
</div>


<!-- SESSION SELECTION TEXT -->
<div class="row">
    <div class="twelve columns">
        <!-- <div>Dataset selector</div> -->

        <div id="dset-container">
            <input id="dset-1" type="radio" name="dset-group" checked="checked" />
            <label for="dset-1">Brain wide map</label>

            <input id="dset-2" type="radio" name="dset-group" />
            <label for="dset-2">Repeated sites</label>
        </div>
    </div>
</div>

<!-- SESSION DROPDOWN -->
<div class="row">
    <div id="sessionSelector" class="u-full-width"></div>
    <!-- onClick="this.select();"> -->
    <!-- value="{{ default_pid }}"> -->
</div>

<!-- ROW WITH UNITY AND SESSION DETAILS -->
<div class="row">
    <!-- UNITY -->
    <div class="eight columns">
        <canvas id="unity-canvas"></canvas>
    </div>

    <!-- SESSION DETAILS -->
    <div class="four columns">
        <div id="sessionDetails"></div>
    </div>
</div>





<!------------------------------------------------------------------------------------------------>
<!--                                       SESSION OVERVIEW                                     -->
<!------------------------------------------------------------------------------------------------>

<!-- SESSION OVERVIEW HEADER -->
<div class="row">
    <div class="twelve columns">
        <h2>Session overview</h2>
    </div>
</div>

<!-- SESSION TEXT -->
<div class="row">
    <div class="twelve columns">
        <p>In each session, the electrical activity recorded on the probe is sorted into "clusters",
            groups of spikes that appear to come from the same neuron. We sub-select from these
            clusters only those that pass three stringent quality control metrics. </p>

        <p>In the panel below we show the activity of these <i>good</i> clusters throughout the whole session as well
            as some metrics computed on the raw ephys signals (e.g. the RMS of the high-frequency AP signal;
            and the power in the delta band of the LFP). These signals help us identify the boundaries between brain
            regions.</p>

        <p>We also show the behavior of the mouse throughout this session, in a trained mouse you expect to see
            biased performance when stimuli were more likely to appear on one side or the other. Most mice increase
            their
            reaction time throughout the session.
        </p>
    </div>
</div>

<!--                                          FIGURE 1                                          -->
<!-- SESSION PLOTS -->
<div class="row">
    <!-- Session overview plot -->
    <div class="twelve columns">
        <figure>
            <div class="imgWrapper"><img id="sessionPlot"></div>
            <img id="sessionPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" class="loading">
            <details>
                <summary id="sessionPlotLegend">Please hover your mouse over a subplot panel of interest above to obtain
                    its figure legend here.</summary>
            </details>
        </figure>
    </div>
</div>


<!--                                          FIGURE 2                                          -->
<!-- BEHAVIOUR DATA PLOTS -->
<div class="row">
    <!-- Session overview plot -->
    <div class="twelve columns">
        <figure>
            <div class="imgWrapper"><img id="behaviourPlot"></div>
            <img id="behaviourPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" class="loading">
            <details>
                <summary id="behaviourPlotLegend">Please hover your mouse over a subplot panel of interest above to
                    obtain its figure legend here.</summary>
            </details>
        </figure>
    </div>
</div>





<!------------------------------------------------------------------------------------------------>
<!--                                    SINGLE TRIAL OVERVIEW                                   -->
<!------------------------------------------------------------------------------------------------>

<!-- TRIAL -->
<div class="row">
    <div class="twelve columns">
        <h2>Single trial overview</h2>
    </div>
</div>

<!-- TRIAL TEXT -->
<div class="row">
    <div class="twelve columns">
        <p>Select a trial from the dropdown menu to see trial parameters and the mouse's behavior. In the lower panels
            you can see the
            position of this trial in the recording and whether any ephys activity is clustering around important
            behavioral events.</p>
    </div>
</div>

<!-- TRIAL SELECTOR -->
<div class="row">
    <div class="three columns">

        <!-- Select -->
        <select size="15" id="trialSelector" class="u-full-width multiple">
        </select>

        <!-- Arrow button for navigation -->
        <div class="buttonNav">
            <div>
                <button class="trialLeft" onclick="arrowButton('trialSelector', -1);">&lt;</button>
                <button class="trialRight" onclick="arrowButton('trialSelector', +1);">&gt;</button>
            </div>
        </div>
    </div>

    <!-- Trial details -->
    <div class="nine columns" id="trialDetails">
    </div>
</div>

<!--                                          FIGURE 3                                          -->
<!-- TRIAL PLOTS -->
<div class="row">
    <div class="twelve columns">
        <figure id="trialWrapper">
            <div class="imgWrapper"><img id="trialPlot"></div>
            <img id="trialPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" class="loading">
            <div id="trialTime"></div>
            <details>
                <summary id="trialPlotLegend">Please hover your mouse over a subplot panel of interest above to obtain
                    its figure legend here.</summary>

            </details>
        </figure>
    </div>
</div>

<!--                                          FIGURE 4                                          -->
<!-- Trial event plot -->
<div class="row">
    <div class="twelve columns">
        <figure>
            <div class="imgWrapper"><img id="trialEventPlot"></div>
            <img id="trialEventPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" class="loading">
            <details>
                <summary id="trialEventPlotLegend">Please hover your mouse over a subplot panel of interest above to
                    obtain its figure legend here.</summary>
            </details>
        </figure>
    </div>
</div>




<!------------------------------------------------------------------------------------------------>
<!--                                   SINGLE CLUSTER OVERVIEW                                  -->
<!------------------------------------------------------------------------------------------------>

<!-- CLUSTER HEADER -->
<div class="row">
    <div class="twelve columns">
        <h2>Single cluster overview</h2>
    </div>
</div>

<!-- CLUSTER TEXT -->
<div class="row">
    <div class="twelve columns">
        <p>Select a good cluster from the dropdown menu or by clicking directly on the unit to visualize its properties.
        </p>
    </div>
</div>

<!-- CLUSTER SELECTOR -->
<div class="row">
    <!-- Cluster selector -->
    <div class="three columns">

        <!-- Select -->
        <select size="15" id="clusterSelector" class="u-full-width multiple">
        </select>

        <!-- Arrow button for navigation -->
        <div class="buttonNav">
            <div>
                <button class="clusterLeft" onclick="arrowButton('clusterSelector', -1);">&lt;</button>
                <button class="clusterRight" onclick="arrowButton('clusterSelector', +1);">&gt;</button>
            </div>
        </div>
    </div>

    <!-- Cluster details -->
    <div class="nine columns" id="clusterDetails">
    </div>

</div>

<!--                                          FIGURE 5                                          -->
<!-- CLUSTER PLOTS -->
<div class="row">
    <div class="twelve columns">
        <figure>
            <div class="imgWrapper"><img id="clusterPlot"></div>
            <img id="clusterPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" class="loading">
            <details>
                <summary id="clusterPlotLegend">Please hover your mouse over a subplot panel of interest above to obtain
                    its figure legend here.</summary>
            </details>
        </figure>
    </div>
</div>




{% endblock %}
