{% extends 'template.html' %}


{% block header %}

<script>

    // NOTE: this is not in scripts.js because we need the flask templating engine to make the
    // replacements here.

    // Query string parameters.
    const QUERY_PARAMS = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });

    // Dictionary passed by Flask in the _render() function.
    const FLASK_CTX = {{ FLASK_CTX | tojson }};

    // Current context.
    var CTX = {
        pid: QUERY_PARAMS.pid || FLASK_CTX.DEFAULT_PID, // initial probe UUID
        tid: parseInt(QUERY_PARAMS.tid, 10) || 0, // trial ID
        cid: parseInt(QUERY_PARAMS.cid, 10) || 0, // cluster ID
        trials: [],
        trial_onsets: [], // for all trials, including nan ones, so we can index by the tid
        trial_offsets: [],
        dur: 0, // session duration
    };
</script>

<!-- Custom Array class -->
<script src="{{ url_for('static', filename='array.js') }}"></script>

<!-- Custom JS code -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<!-- Unity loader -->
<script src="static/Build/IBLMini-webgl.loader.js"></script>

<!-- autoComplete -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.01.min.css">
 -->
<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
<script>
    const { autocomplete } = window['@algolia/autocomplete-js'];
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" />

{% endblock %}



{% block share %}

<div id="share"><a>share</a></div>

{% endblock %}



{% block content %}

<div class="row">
    <div class="twelve columns">
        <h2>Session selector</h2>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <p>Select to view one example probe insertion (gray) out of the hundreds recorded across all mice (white),
            either by clicking on the brain or by selecting its unique identifier (PID).
        </p>
        <p><strong>Examples:</strong>
            <code>cortexlab</code> (lab),
            <code>CSHL052</code> (subject),
            <code>CA1</code> (brain region)
        </p>
    </div>
</div>





<!------------------------------------------------------------------------------------------------>
<!--                                       SESSION OVERVIEW                                     -->
<!------------------------------------------------------------------------------------------------>

<!-- SESSION DROPDOWN -->
<div class="row">
    <div id="sessionSelector" class="u-full-width"></div>
    <!-- onClick="this.select();"> -->
    <!-- value="{{ default_pid }}"> -->
</div>

<!-- ROW WITH UNITY AND SESSION DETAILS -->
<div class="row">
    <!-- UNITY -->
    <div class="eight columns">
        <canvas id="unity-canvas"></canvas>
    </div>

    <!-- SESSION DETAILS -->
    <div class="four columns">
        <div id="sessionDetails"></div>
    </div>
</div>

<!-- SESSION HEADER -->
<div class="row">
    <div class="twelve columns">
        <h2>Session overview</h2>
    </div>
</div>

<!-- SESSION TEXT -->
<div class="row">
    <div class="twelve columns">
        <p>Glimpse over example informative features computed on either the electrophysiology or behavior signals
            throughout the whole session duration.</p>

        <p> Observe the differences in the raw ephys signals (e.g. RMS of the high-frequency AP signal ; or power in the
            delta band of the LFP) recorded across the depth of the probe, whose recording channels span multiple brain
            regions.
        </p>

        <p>
            Similarly, assess the distribution of multi-units versus single good clusters, or properties of single
            clusters along the probe (e.g. firing rate).
        </p>
    </div>
</div>

<!-- SESSION PLOTS -->
<div class="row">
    <!-- Session overview plot -->
    <div class="twelve columns">
        <figure>
            <img id="sessionPlot">
            <img id="sessionPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif"
                class="loading">
            <details>
                <summary>Figure 1: click to read the legend</summary>
                <div>TODO LEGEND 1</div>
            </details>
        </figure>
    </div>
</div>

<!-- POST-PLOT TEXT -->
<div class="row">
    <div class="twelve columns">
        <p>Get insights on the behavior performance thanks to psychometric curves, chronometric functions or reaction
            time distribution across the recording session.</p>
    </div>
</div>





<!------------------------------------------------------------------------------------------------>
<!--                                    SINGLE TRIAL OVERVIEW                                   -->
<!------------------------------------------------------------------------------------------------>

<!-- TRIAL -->
<div class="row">
    <div class="twelve columns">
        <h2>Single trial overview</h2>
    </div>
</div>

<!-- TRIAL TEXT -->
<div class="row">
    <div class="twelve columns">
        <p>Select a trial from the dropdown menu to see its associated parameters and outcome. Notice its position
            within the recording, and the pattern of ephys activity around important behavioral events.</p>
    </div>
</div>

<!-- TRIAL SELECTOR -->
<div class="row">
    <div class="three columns">

        <!-- Select -->
        <select size="15" id="trialSelector" class="u-full-width multiple">
        </select>

        <!-- Arrow button for navigation -->
        <div class="buttonNav">
            <div>
                <button class="trialLeft" onclick="arrowButton('trialSelector', -1);">&lt;</button>
                <button class="trialRight" onclick="arrowButton('trialSelector', +1);">&gt;</button>
            </div>
        </div>
    </div>

    <!-- Trial details -->
    <div class="nine columns" id="trialDetails">
    </div>
</div>

<!-- TRIAL PLOTS -->
<div class="row">
    <div class="twelve columns">
        <figure id="trialWrapper">
            <img id="trialPlot">
            <img id="trialPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif"
                class="loading">
            <div id="trialTime"></div>
            <details>
                <summary>Figure 2: click to read the legend</summary>
                <div>TODO LEGEND 2</div>
            </details>
        </figure>
    </div>
</div>

<!-- Placeholder for unity -->
<div class="row">
    <div class="twelve columns">
        <canvas id="unity-canvas-trial"></canvas>
    </div>
</div>

<!-- Trial event plot -->
<div class="row">
    <div class="twelve columns">
        <figure>
            <img id="trialEventPlot">
            <img id="trialEventPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif"
                class="loading">
            <details>
                <summary>Figure 3: click to read the legend</summary>
                <div>TODO LEGEND 3</div>
            </details>
        </figure>
    </div>
</div>




<!------------------------------------------------------------------------------------------------>
<!--                                   SINGLE CLUSTER OVERVIEW                                  -->
<!------------------------------------------------------------------------------------------------>

<!-- CLUSTER HEADER -->
<div class="row">
    <div class="twelve columns">
        <h2>Single cluster overview</h2>
    </div>
</div>

<!-- CLUSTER TEXT -->
<div class="row">
    <div class="twelve columns">
        <p>Select a good cluster from the dropdown menu to visualize its properties.</p>
    </div>
</div>

<!-- CLUSTER SELECTOR -->
<div class="row">
    <!-- Cluster selector -->
    <div class="three columns">

        <!-- Select -->
        <select size="15" id="clusterSelector" class="u-full-width multiple">
        </select>

        <!-- Arrow button for navigation -->
        <div class="buttonNav">
            <div>
                <button class="clusterLeft" onclick="arrowButton('clusterSelector', -1);">&lt;</button>
                <button class="clusterRight" onclick="arrowButton('clusterSelector', +1);">&gt;</button>
            </div>
        </div>
    </div>

    <!-- Cluster details -->
    <div class="nine columns" id="clusterDetails">
    </div>

</div>

<!-- CLUSTER PLOTS -->
<div class="row">
    <div class="twelve columns">
        <figure>
            <img id="clusterPlot">
            <img id="clusterPlotLoading" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif"
                class="loading">
            <details>
                <summary>Figure 4: click to read the legend</summary>
                <div>TODO LEGEND 4</div>
            </details>
        </figure>
    </div>
</div>




{% endblock %}
