{% extends 'template.html' %}


{% block header %}

<!-- Passing data from Flask to Javascript -->
<script>
    const JS_CONTEXT = {{ js_context| tojson }};
</script>

<!-- Custom Array class -->
<script src="{{ url_for('static', filename='array.js') }}"></script>

<!-- Custom JS code -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<!-- Unity loader -->
<script src="static/Build/IBLMini-webgl.loader.js"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="twelve columns">
        <h2>Session overview</h2>
    </div>
</div>

<!-- FIRST ROW -->
<div class="row">
    <!-- UNITY -->
    <div class="eight columns">
        <canvas id="unity-canvas"></canvas>
    </div>

    <!-- SESSION DETAILS -->
    <div class="four columns">

        <!-- SESSION DROPDOWN -->
        <div class="nine columns">
            <select id="sessionSelector" class="u-full-width">
                {% for session in sessions %}
                <option value="{{ session.pid }}">PID {{ session.pid }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="sessionDetails">
        </div>
    </div>
</div>


<!-- SESSION PLOTS -->
<div class="row">
    <!-- Session overview plot -->
    <div class="twelve columns">
        <img id="sessionPlot">
    </div>
</div>


<!-- TRIAL -->
<div class="row">
    <div class="twelve columns">
        <h2>Single trial overview</h2>
    </div>
</div>

<div class="row">
    <!-- Trial selector -->
    <div class="two columns">
        <select size="15" id="trialSelector" class="u-full-width multiple">
        </select>
    </div>

    <!-- Trial details -->
    <div class="two columns" id="trialDetails">
    </div>
</div>


<!-- TRIAL PLOTS -->
<div>
    <!-- Placeholder for unity -->
    <div class="six columns">
        <canvas id="placeholder-canvas"></canvas>
    </div>
    <!-- Trial raster plot -->
    <div class="six columns">
        <img id="trialPlot">
    </div>
</div>


<!-- CLUSTER -->
<div class="row">
    <div class="twelve columns">
        <h2>Single cluster overview</h2>
    </div>
</div>
<div class="row">
    <!-- Cluster selector -->
    <div class="two columns">
        <select size="15" id="clusterSelector" class="u-full-width multiple">
        </select>
    </div>

    <!-- Cluster details -->
    <div class="two columns" id="clusterDetails">
    </div>

</div>


<!-- CLUSTER PLOTS -->
<div class="row">
    <div class="twelve columns">
        <!-- Cluster overview plot -->
        <img id="clusterPlot">
    </div>
</div>

{% endblock %}
