{% import 'macros.html' as macros with context %}

<!DOCTYPE html>
<html>

<head>
    <title>IBL public website prototype</title>


    <!-- CSS -->

    <!-- Raleway font -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- Normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Skeleton -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- noUIslider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.1/nouislider.min.css"
        integrity="sha512-qveKnGrvOChbSzAdtSs8p69eoLegyh+1hwOMbmpCViIwj7rn4oJjdmMvWOuyQlTOZgTlZA0N2PXA7iA8/2TUYA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />



    <!-- Javascript -->

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- JQuery UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- noUIslider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.1/nouislider.min.js"
        integrity="sha512-T5Bneq9hePRO8JR0S/0lQ7gdW+ceLThvC80UjwkMRz+8q+4DARVZ4dqKoyENC7FcYresjfJ6ubaOgIE35irf4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>

    <!-- wNumb -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"
        integrity="sha512-igVQ7hyQVijOUlfg3OmcTZLwYJIBXU63xL9RC12xBHNpmGJAktDnzl9Iw0J4yrSaQtDxTTVlwhY730vphoVqJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Passing data from Flask to Javascript -->
    <script>
        const JS_CONTEXT = {{ js_context| tojson }};
    </script>

    <!-- Custom Array class -->
    <script src="{{ url_for('static', filename='array.js') }}"></script>

    <!-- Custom JS code -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>

<body>

    <!-- .container is main centered wrapper -->
    <div class="container">
        <div class="row">
            <h1>IBL public website prototype</h1>
            <div id="titleLinks">
                <a href="https://github.com/int-brain-lab/website" target="_blank">GitHub</a>
            </div>
        </div>
        <form onsubmit="return false;">
            <div class="row">
                <div class="three columns" id="left">
                    <nav>
                        <!-- Sesssion -->
                        <ol>
                            <li>
                                <label for="selectSession">session</label>
                                <select id="selectSession" class="u-full-width">
                                    <option value="session 1">session 1</option>
                                    <option value="session 2">session 2</option>
                                </select>
                            </li>
                        </ol>

                        <!-- Buttons -->
                        <!-- <ol>
                            <li><input type="button" id="resetButton" value="reset params"></li>
                        </ol> -->
                    </nav>
                </div>
                <div class="nine columns" id="right">
                    <div>
                        <div>
                            <img id="imgCluster" src="/init">
                        </div>
                    </div>
                </div>
        </form>
    </div>

</body>

</html>
