<!-- BEGIN MACROS -->

{% macro explore() -%}
<!-- BUTTON EXPLORE -->
<div class="row">
    <div class="twelve columns">
        <a class="button button-primary button-explore" href="/app?spikesorting=ss_2024-05-06">explore the data</a>
    </div>
</div>
{%- endmacro %}

{% macro download() -%}
<!-- BUTTON DOWNLOAD -->
<div class="row">
    <div class="twelve columns">
        <a class="button button-secondary button-download"
            href="https://int-brain-lab.github.io/iblenv/notebooks_external/data_release_brainwidemap.html">download the
            data</a>
    </div>
</div>
{%- endmacro %}

<!-- END MACROS -->
